{% load static %}
<!--================Footer Area =================-->
<footer class="footer_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="footer_top flex-column">
                    <div class="footer_logo">
                        <a class="navbar-brand logo_h" href="https://www.linkedin.com/in/eleandro-martins-a466ba265?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                            <img src="{% static 'img/eleandro.png' %}" alt="" class="logo-small">
                        </a>
                        <h4>Acompanhe minhas redes sociais</h4>
                    </div>
                    <div class="footer_social">
                        <a href="https://www.linkedin.com/in/eleandro-martins-a466ba265?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/eleandro-martins-a466ba265?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/eleandro-martins-a466ba265?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_bottom justify-content-center">
            <p class="col-lg-8 col-sm-12 footer-text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->